<% provide(:title, "About") %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>About</h4>
	</div>
	<div class="panel-body">
		<p>
			This is a customized social app for AID B (Part C - Requirement 3). It includes:
			<ul>
				<li>Data Validation</li>
				<li>Styles/Layout</li>
				<li>Authentication</li>
				<li>Internationalization</li>
				<li>Agile Test Driven Design (TDD) with either Unit Tests or RSpec</li>
			</ul>
		</p>
		<hr>
		<p><i class="fa fa-bitbucket"></i> BitBucket Link: <a target="_blank" href="https://bitbucket.org/izakibikas/social_app/src">Social App</a></p>
	</div>
</div>