<% if logged_in? %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section class="micropost_form">
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<div class="jumbotron">
	<h1>Social App</h1>
	<p>Welcome to Social App! To get started, login or sign up if you are a new user!</p>
	<hr>
	<a href="<%= login_url %>" class="btn btn-success">Login</a> 	<a href="<%= register_url %>" class="btn btn-success">Sign up</a>
</div>
<% end %>
