<% provide(:title, "Login") %>

<div class="row">

	<div class="col-md-6 col-md-offset-3">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h4>Login</h4>
			</div>

			<div class="panel-body">

				<%= form_for(:session, url: login_path) do |f| %>

				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>

				<%= f.label :remember_me, class: "checkbox inline" do %>
				<%= f.check_box :remember_me %>
				<span>Remember me</span>
				<% end %>


				<%= f.submit "Login", class: "btn btn-success" %>
				<% end %>

				<p>Are you a new user? <%= link_to "Sign up now!", register_path %></p>
			</div>

		</div>

	</div>

</div>