<% provide(:title, 'All users') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>All users</h4>
			</div>

			<div class="panel-body">

				<%= will_paginate %>

				<ul class="users">
					<%= render @users %>
				</ul>

				<%= will_paginate %>

			</div>
		</div>
	</div>
</div>