<% provide(:title, 'Sign up') %>


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Sign up</h4>
			</div>
			<div class="panel-body">

				<%= form_for(@user, url: register_path) do |f| %>

				<%= render 'shared/error_messages', object: f.object %>

				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>

				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>

				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation, class: 'form-control' %>

				<br>

				<%= f.submit "Create my account", class: "btn btn-primary" %>
				<% end %>

			</div>
		</div>

	</div>
</div>