<% provide(:title, @user.name) %>

<div class="panel panel-default">

	<div class="panel-body">
		
		<div class="row">
			<aside class="col-md-4">
				<section class="user_info">
					<h1>
						<%= @user.name %>
					</h1>
				</section>
			</aside>
			<div class="col-md-8">
				<% if @user.microposts.any? %>
				<h3>Microposts (<%= @user.microposts.count %>)</h3>
				<ol class="microposts">
					<%= render @microposts %>
				</ol>
				<%= will_paginate @microposts %>
				<% end %>
			</div>
		</div>

	</div>

</div>