<div class="panel panel-default" id="micropost-<%= micropost.id %>">
	<div class="panel-body">
		<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
		<br>
		<p>
			<span class="content"><%= micropost.content %></span>
		</p>
	</div>
	<div class="panel-footer">
		<p>
			<span class="timestamp">
				Posted <%= time_ago_in_words(micropost.created_at) %> ago.
				<% if current_user?(micropost.user) %>
				<%= link_to "delete", micropost, method: :delete,
				data: { confirm: "Are you sure?" } %>
				<% end %>
			</span>
		</p>
	</div>
</div>