<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url %>">Social App</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="<%= root_url %>">Home</a></li>
			<li><a href="<%= help_url %>">Help</a></li>
			<li><a href="<%= about_url %>">About</a></li>
			<li><a href="<%= contact_url %>">Contact Us</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if logged_in? %>
			<li><%= link_to "Users", users_path %></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Account <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
					<li class="divider"></li>
					<li>
						<%= link_to "Log out", logout_path, method: :delete %>
					</li>
				</ul>
			</li>
			<% else %>
			<li><a href="<%= register_url %>"><span class="fa fa-user"></span> Sign Up</a></li>
			<li><a href="<%= login_url %>"><span class="fa fa-key"></span> Login</a></li>
			<% end %>
		</ul>
	</div>
</nav>